@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row" id="TodayStatistic">
        <div class="offset-1 col-10">
            <label>Today:</label>
            <input type="text" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
        </div>
        <div class="col-4 text-center">
            <label>Not very strong</label>
            <label>5</label>
        </div>
        <div class="col-4 text-center">
            <label>Not very strong</label>
            <label>5</label>
        </div>
        <div class="col-4 text-center">
            <label>Not very strong</label>
            <label>5</label>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row" id="WeekStatistic">
        <div class="col-4 text-center">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

    </div>
</div>