@{
    ViewData["Title"] = "Home Page";
}


<style>
    .date-time-now {
        font-size: -webkit-xxx-large;
    }
    .square {
        border: 4px solid black;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
    #WeekStatistic {
        margin-top: 28px;
    }
    #TodayStatistic {
        margin-top: 28px;
    }
    .info {
        font-style: italic;
        color: blueviolet;
        font-size: larger;
        font-family: "Comic Sans MS", "Comic Sans", cursive;
    }
</style>

<div class="container">
    <div class="row" id="TodayStatistic">
        <div class="offset-1 col-10">
            <p class="text-center date-time-now">Today @DateTime.Now.ToString("dd.MM.yyyy HH:mm:ss")</p>
        </div>
        <div class="col-4 text-center info">
            <label>Not very strong</label>
            <label>5</label>
        </div>
        <div class="col-4 text-center info">
            <label>Not very strong</label>
            <label>5</label>
        </div>
        <div class="col-4 text-center info">
            <label>Not very strong</label>
            <label>5</label>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row" id="WeekStatistic">
        <div class="col-4 text-center square">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center square">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center square">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center square">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center square">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

        <div class="col-4 text-center square">
            <b>21.10.2018</b><br />
            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />

            <label>13:32</label>
            <label>Not very strong</label>
            <label>5</label>
            <br />
        </div>

    </div>
</div>