html {
    height: 100%;
}

body {
    height: 100%;
}

#MainContainer {
    height: 100%;
}

#MainContainer > .row {
    height: 100%;
}

#MainMenu {
    padding: 25px 0 0 25px;
    background: black;
    color: white;
}

#MainMenu ul {
    text-decoration: none;
    list-style: none;
    font-size: 32px;
    font-weight: 600;
    padding: 0;
}

#MainMenu ul li {
    margin-top: 15px;
}