<canvas id="myChart"></canvas>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [{
                label: "My First dataset",
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: [0, 10, 5, 2, 20, 30, 45],
            }]
        },

        // Configuration options go here
        options: {}
    });
</script>

@*------------------------------------------------------------------------------------------------*@






@*-------------------------------------------------*@
<script src="~/lib/chartjs/Chart.bundle.js"></script>
<script src="~/lib/chartjs/utils.js"></script>
<style>
    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
@*--------------------------------------------------*@

<div id="container">
    <canvas id="canvas"></canvas>
</div>
<script>
    var ctx;
    var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var color = Chart.helpers.color;
    var barChartData = {
        labels: MONTHS,
        datasets: [{
            label: 'Planetary k index',
            backgroundColor: color(window.chartColors.blue).alpha(0.5).rgbString(),
            borderColor: window.chartColors.red,
            borderWidth: 1,
            data: [
                30,
                40,
                20,
                19,
                66,
                12,
                55
            ]
        }]

    };

    function updateChart(period, startdate, enddate) {
        $.ajax({
            url: "/data/GetStatisticsBy" + period + "?start=" + startdate + "&end=" + enddate + "&day=" + startdate,
            method: "get"
        }).done(function (data) {
            if(period == 'Year')
                barChartData.labels = data.map(val => MONTHS[val.date.month-1] + ' ' + val.date.year);
            else
                barChartData.labels = data.map(val => (new Date(val.date)).getDate());
            barChartData.datasets[0].data = data.map(val => val.value);

            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display: true,
                        text: 'Geomagnetic storms from ' + startdate + ' to ' + enddate
                    },
                    scales: {
                        yAxes: [{
                            display: true,
                            ticks: {
                                max: 10,
                                min: 0
                            }
                        }]
                    }
                }
            });
        });        
    };

    window.onload = function () {
        ctx = document.getElementById('canvas').getContext('2d');
        updateChart("Year", "2016-10-01", "2018-10-31");
    };

    
</script>